{# templates/security/login.html.twig #}
<form action="{{ path('app_login') }}" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="_username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" required>
    <button type="submit">Login</button>
</form>
